* {
    box-sizing: border-box;
}

/* ------
Variables
------ */

$color-primary: #fefefe;
$color-secondary: #343434;


/* ------
clearfix
------ */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------
global and headings
------ */

body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1em;
    background-color: $color-primary;
    position: relative;
    color: $color-secondary;
}

h1 {
    margin: 0px;
}

/* --------
Main Layout
------ */
header {
    height: 80px;
    box-shadow: 2px 0 4px $color-secondary;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    margin: 10px;
    align-items: center;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    padding: 10px;
}

.avatar {
    height: 100%;
    border-radius: 50%;
    margin: 10px;
}


/* --------
Modal and Overlay
------ */

/* --------
Media Queries
------ */

@media (min-width: 768px) {
    .grid-container {

    }
}